.v-sidebar-menu {
    background-color: white !important;
    box-shadow: 0px 0px 5px 0px ;
}
.v-sidebar-menu.vsm_expanded {}
.v-sidebar-menu.vsm_collapsed {}
.v-sidebar-menu.vsm_rtl {}
.v-sidebar-menu .vsm--item {}
.v-sidebar-menu .vsm--item.vsm--item_open {}
.v-sidebar-menu .vsm--link {
    color: black !important;
}
.v-sidebar-menu .vsm--link:focus {
    border: none !important;
    outline: none !important;

}
.v-sidebar-menu .vsm--link_hover{
    background-color: #9B82E6 !important;
    box-shadow: none !important;
}
.v-sidebar-menu .vsm--link.vsm--link_active {
    background-color: #9B82E6 !important;
}
.v-sidebar-menu .vsm--link.vsm--link_exact-active {
  
}
.v-sidebar-menu .vsm--link.vsm--link_mobile-item-bg {

}
.v-sidebar-menu .vsm--link.vsm--link_level-[n] {}
.v-sidebar-menu .vsm--link.vsm--link_disabled {}
.v-sidebar-menu .vsm--title {}
.v-sidebar-menu .vsm--icon {}
.v-sidebar-menu .vsm--arrow {}
.v-sidebar-menu .vsm--arrow.vsm--arrow_open {}
.v-sidebar-menu .vsm--badge {}
.v-sidebar-menu .vsm--header {}
.v-sidebar-menu .vsm--list {}
.v-sidebar-menu .vsm--dropdown>.vsm--list {
    
}
.v-sidebar-menu .vsm--mobile-item {
    
}
.v-sidebar-menu .vsm--mobile-bg {
    background-color: #9B82E6 !important;
}
.v-sidebar-menu .vsm--toggle-btn {
    background-color: #704DDC !important;
    color: black !important;
}

.v-sidebar-menu .vsm--toggle-btn:focus {
    outline: none !important;
}